@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Poppins", serif;
    background-color: #1B1A20;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #0C0B0E;
    color: white;
}


header .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

header h1:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

header .center {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
}

.form-username input {
    width: 9vw;
    height: 5vh;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: #1B1A20;
}

img {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.start-background-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.start-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50vh;
    width: 50vw;
    border-radius: 15px;
    background-color: #1B1A20;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
}


#popupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.avatar-options input[type="radio"] {
    display: none;
}

.avatar-options label {
    cursor: pointer; 
}

.avatar-options label img {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-options label img:hover {
    transition: 0.1s ease;
    transform: scale(1.1);
}

.username {
    background-color: #313036;
    border: none;
    border-radius: 15px;
    padding: 15px 20px; 
    font-size: 1rem; 
    font-weight: 600; 
    width: 100%;
    color: white;
}

.error-message-username, .error-message-avatar {
    color: rgb(255, 0, 0);
    font-size: 1.1rem;
    font-weight: 600;
}

.sumbit-overlay1, #rules {
    background-color: #FF385C;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem; 
    font-weight: 600; 
    color: rgba(255, 255, 255, 0.8);
    border: none;
}

.sumbit-overlay1:hover, #rules:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
    background-color: #da2244;
}

.rules-overlay-background {
    width: 100vw;
    height: 100vh;
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.rules-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50vh;
    width: 50vw;
    border-radius: 15px;
    background-color: #1B1A20;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}


.close-btn:hover {
    transition: 0.2s ease;
    color: #da2244;
}

.rules-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.rules-title h3 {
    text-align: center;
    font-size: 1.6rem;
    color: white;
    padding-bottom: 2rem;
}

.rules-text ul li {
    color: white;
    font-size: 0.9rem;
    align-items: center;
    padding-bottom: 10px;
    list-style: none;
    text-align: justify;
}

.scoreboard-container {
    padding: 25px;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: white;
    background-color: #0C0B0E;
    border-radius: 15px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.team-name {
    font-weight: bold;
    font-size: 18px;
}

.win-overlay span {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}


.win-overlay p {
    font-size: 1.4em;
    font-weight: 600;
    color: white;
}

.main-score, .ennemie-score {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.ennemie-img {
    border-radius: 100%;
}

.win-background-overlay {
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.win-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50vh;
    width: 50vw;
    border-radius: 15px;
    background-color: #1B1A20;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
}

.final-win-background-overlay {
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.final-win-overlay {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50vh;
    width: 50vw;
    border-radius: 15px;
    background-color: #1B1A20;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
}

.final-win-overlay span {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

.final-win-overlay p {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

#restart-party {
    background-color: #FF385C;
    width: 40%;
    height: 15%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#restart-party:hover {
    background-color: #da2244;
    transform: scale(1.1);
}

.games-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50vh;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rock, .papper, .scissors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C0B0E;
    border-radius: 10px;
    width: 25%;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.rock:hover, .papper:hover, .scissors:hover {
    transform: scale(1.05);
}

.img-rock, .img-papper, .img-scissors {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 70%;
    margin-bottom: 10px;
}

.img-rock {
    background-image: url("../img/pierre.png");
}

.img-papper {
    background-image: url("../img/Broussaille.webp");
}

.img-scissors {
    background-image: url("../img/ciseaux.png");
}

#rock-btn, #papper-btn, #scissors-btn {
    background-color: #FF385C;
    width: 60%;
    height: 15%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#rock-btn:hover, #papper-btn:hover, #scissors-btn:hover {
    background-color: #da2244;
    transform: scale(1.1);
}

#rock-btn:focus, #papper-btn:focus, #scissors-btn:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 56, 92, 0.6);
}
